@import "src/resources/color";

.site-top-app-bar {
  display: flex;
  justify-content: center;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  background-color: $primary-color;

  .title-link {
    text-decoration: none;
    color: #000;
  }

  .github-link {
    width: 1.6rem;
    height: 1.6rem;
  }
}

.mdc-top-app-bar.mdc-top-app-bar--short-collapsed {
  width: 8rem;
}
